<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>Mi solución</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether-theme-arrows-dark.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether-theme-arrows.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether-theme-basic.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body ng-controller="ControladorJuego">
<div class="col-lg-12">
<div class="col-md-1" id="helpBttn">
    <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#">
        <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
    </a>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Formato de entrada</h4>
                </div>
                <div class="modal-body">
                    Siga los siguientes formatos estrictamente para cada deporte. Cualquier incumplimiento lanzará un mensaje de error.<br><br>


                    Fútbol: teamAName teamAScore - teamBScore teamBName<br><br>
                    Ejemplo: F.C. Barcelona 3-2 Real Madrid<br><br>

                    Tenis: teamAName (teamASets) teamAGames teamAScore - teamBScore teamBGames (teamBSets) isServing teamBName<br><br>
                    Ejemplo:Anna Karolina Schmiedlova (1) 1 40-Adv 1 (0) *Varvara Lepchenko<br>
                    Nota: teamScore sería uno de los siguientes valores: 00,15,30,40,Adv<br>
                    Nota: isServing se marca con una * y siempre va delante del nombre del jugador<br><br>


                    Fútbol Americano: teamAName teamAScore - teamBScore teamBName Period<br><br>
                    Ejemplo:Pittsburgh Steelers 3-7 Minnesota Vikings 3rd Quarter<br>
                    Nota: Period sería uno de los siguientes valores: 1st,2nd,3rd,4th<br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group col-xs-12 col-sm-3 col-lg-3">
    <input style="position: absolute;right: 110px" type="text" class="form-control" placeholder="Escribe algo por aquí" ng-model="input">'
</div>

<button style="position: absolute;left: 550px" type="button" class="btn btn-primary" ng-click="calcular()" ng-disabled="!input">Calcular</button>
</div>

<div class="col-lg-12">
    <span style="position: absolute;left: 35px" ng-model="resultado">Resultado: </span><br>
    {{resultado}}
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.js"> </script>
<script src="js/modelo_deporte.js"> </script>
<script src="bower_components/tether/dist/js/tether.js"> </script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"> </script>

</body>
</html>